Checks: >
  modernize-use-constexpr,
  modernize-use-noexcept,
  modernize-use-braced-init-list,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-using,
  modernize-avoid-bind,
  cppcoreguidelines-pro-type-typeid,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-avoid-non-const-global-variables,
  cert-dcl03-c,
  readability-else-after-return,
  readability-braces-around-statements,
  readability-make-member-function-const,
  misc-const-correctness,
  performance-inefficient-algorithm,
  performance-noexcept-move-constructor,
  security.insecureAPI.*,
  bugprone-suspicious-*,
  bugprone-argument-comment,
  bugprone-integer-division

HeaderFilterRegex: '.*pltxt2htm.*'
SystemHeaders: false

CheckOptions:
  - key:   misc-const-correctness.TransformValues
    value: true

FormatStyle: none
