### Please run `python gen_dockerignore.py` after change this file ###
# Python
**/venv*/
dist/
**/build/
*.egg-info/
**/__pycache__/

# xmake
**/.xmake/

# vscode
.vscode/

# release dir, $target-pltxt2htm-[debug|release]
**/*-pltxt2htm*/

# lcov
tests/lcov-report/

# archive
*.7z
*.xz
*.tar
*.zip

# my temporary file
*.ignore*

# Windows
*.lnk

# clangd
compile_commands.json
.cache

# MacOS
**/.DS_Store

# clang fuzzer crashing file
**/crash-*
**/oom-*

# library
*.lib
*.dll
*.a
*.so

# object file
*.o

# executable
*.exe

# debug file
*.pdb

# Rust
**/target/
**/Cargo.lock

# csharp
csharp/obj/
csharp/bin/

# Visual Studio
**/vs2026/

# ninja
**/.ninja_log
