venv*/

dist/
build/
*.egg-info/

.xmake/

.vscode/

__pycache__/

# release dir, $target-pltxt2htm-[debug|release]
*-pltxt2htm*/

lcov-report/

*.xz
*.tar
*.zip

*.ignore.*

*.lnk

# core dump file
core*
